<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="vendor/autoload.php"
	backupGlobals="false"
	processIsolation="false"
	>
	<filter>
	  <whitelist processUncoveredFilesFromWhitelist="true">
	    <directory suffix=".php">src/</directory>
 	  </whitelist>
	</filter>
	
	<logging>
	<!--
  	-->
  		<log type="coverage-html" target="tests/_coverage" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    
</phpunit>
